/* root/html */

:root {
  --primary-color: ;
  --secondary-color: ;
  --font-color: ;
}

html,
body {
  background-color: #bee5ff;
  color: #000000;
  scroll-behavior: smooth;
}

body {
  /* temporary padding to see elements better */
  /* padding: 1rem; */
  font-family: "Host Grotesk", sans-serif;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Host Grotesk", sans-serif;
}

h2 {
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #000000;
  max-width: 40rem;
}

h3 {
  margin-top: 3rem;
}

p,
li {
  line-height: 1.5rem;
}

.no-background-p {
  margin-top: 1.5rem;
}

/* images */

img {
  border-radius: 1rem;
}

/* Nav - Mobile Styles */
.navigation {
  position: fixed;
  justify-content: center;
  z-index: 1;
  width: 45%;
  height: 11rem;
  top: 0.5rem;
  left: 0.5rem;
  border-radius: 25px;
  background-color: #ffffff4f;
  border: solid 0.5px #96969661;
  backdrop-filter: blur(20px);
  /* legacy chrome and safari support for backdrop filter */
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0px 0px 25px #0000002e;
}

.nav-menu {
  display: flex;
  list-style: none;
  display: flex;
  gap: 0.5rem;
  padding: 0.1rem 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  justify-content: left;
}

nav li a {
  text-decoration: none;
  border-radius: 10px;
  padding: 0.1rem 0.8rem;
  color: #000000;
  transition: 300ms;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px #0000001b;
  display: inline-block;
}

nav li a:hover {
  background-color: #2869f4;
  box-shadow: 0px 5px 10px #3d77fffd;
  color: #ffffff;
}

/* Nav - Desktop styles */

@media (min-width: 50em) {
  .nav-menu {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 0.125rem 0.5rem;
  }

  .navigation {
    width: 100%;
    height: 5rem;
    left: 0rem;
    top: 0rem;
    border-radius: 0rem;
    border: none;
    box-shadow: 0px 0px 25px #0000003d;
  }
}

/* main styles */
main {
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: #00000029 0px 0px 25px;
}

.wrapper {
  max-width: 80rem;
  margin: 3rem auto;
  margin-top: 12rem;
  padding: 1rem;
  border-radius: 1rem;
  border-radius: 2rem;
}

/* main styles desktop */
@media (min-width: 80em) {
  main {
    max-width: 70rem;
  }

  .wrapper {
    margin-top: 7rem;
    padding: 3rem;
  }

  nav li a {
    padding: 0.5rem 2rem;
  }
}

/* Intro - mobile styles*/
.intro {
  padding-top: 0rem;
}

.intro h1 {
  text-align: center;
  font-size: 3rem;
}

.intro h2 {
  text-align: center;
}

.intro p {
  margin-top: 1rem;
  border-radius: 1.5rem;
  padding: 1rem 1rem;
  background-color: #d7efff;
}

.list-bold {
  font-weight: bold;
  font-size: 1.1rem;
}

/* Intro - Tablet styles*/
@media (min-width: 32em) {
  .intro {
    padding-top: 2rem;
  }

  .intro p {
    border-radius: 1.5rem;
    padding: 2rem;
    background-color: #d7efff;
    box-shadow: 0px 7px 15px #25252534;
    color: #000000;
  }
}

/* Intro - Desktop styles */

/* Pros and Cons - Mobile styles */
.pros-and-cons {
  padding-top: 2rem;
}

.pros-and-cons h2 {
  text-align: center;
}

.pros-and-cons li {
  padding-bottom: 1rem;
}

.p-c-list {
  border-radius: 1.5rem;
  padding: 2rem;
  background-color: #d7efff;
  box-shadow: 0px 7px 15px #25252534;
  color: #000000;
}

.list-header {
  font-weight: bold;
}

/* Pros and Cons - Desktop styles */

/* Examples - mobile styles */
.examples {
  padding-top: 1rem;
}

.examples h2 {
  text-align: center;
}

/* How they work styles - mobile */
.how-they-work h2 {
  text-align: center;
}

/* footer */
footer {
  margin-top: 3rem;
  border-radius: 1.5rem;
  background-color: #d7efff;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  box-shadow: 0px 7px 15px #25252534;
  color: #000000;
}
